
a:link{
    color: white;
    text-decoration: none;
}

body{
margin: 0;
/* align-items: center; */
}

#block1 {
width: 100%;
height: 100px;
}

header {
display: flex;
flex-direction: row;
width: 100%;
position:fixed;
align-items: center;
background-color: #CC0A00;
box-shadow: 0px, 1px, 3px black;
height: 80px;
z-index: 10;
}

#menu{
margin-left: 2vw;
z-index: 100;
transition: 100ms;
}

#menu:hover {
    transform: rotate(10deg);
}

#menudrop {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 80px;
    height: 100%;
    width: 400px;
    background-color: #FFF;
    z-index: 5;
    box-shadow: 5px 8px 15px 5px #888888;
}

#menulist {
    color: black;
    z-index: 6;
}

#rubrik{
color: white;
margin-left: 2vw;
font-size: 72px;
margin-bottom: 5px;
}

#searchbar{
height: 5vh;
width: 35vw;
margin-left: 7.5vw;
font-size: 24px;
padding-left: 2%;
}

#searchicon{
display: none;
}

#as {
    grid-area: as;
}

aside{
    background-color: white;
    border: 1px solid #d3d3d3;
    height: 100%;
    padding-bottom: 5%;
    padding: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kartbild {
    max-width: 100%;
    max-height: 70%;
    margin: 0 auto; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

#rubrik {
    font-family: 'PT Sans', sans-serif;
    margin-top: 0;
    font-weight: 700;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    text-decoration: underline;
    margin-left: 2%;
    font-weight: 700;
}

input {
    position: relative;
    left: 5%;
    margin: 10px;
}


main {   
display: grid;
width: 90%;
background-color: lightgrey;
/* align-items: center; */
margin: 0 auto;
padding: 3%;

}

#sida1main {
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: repeat(4, 1fr);
grid-template-areas: 
"as namn namn namn"
"as namn namn namn"
"as namn namn namn"
"as namn namn namn" ;

}


#loginmain{
    height: 70vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "lif lia lia"
        ;
}

#welcomemain {
height: 70vh;    
grid-gap: 20px;    
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: repeat(4, 1fr);
grid-template-areas: 
"wt wt wt wt"
"mg mg ms ms"
"mg mg ms ms"
"mg mg ms ms" ;

}

#aboutmain {
    height: 75vh;
    grid-gap: 20px;    
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-template-areas: 
    "au ."
    "au ."
    ;
}

#contactmain {
    display: flex;
    flex-direction: column;

}


#namncontainer {    
padding-left: 5%;    
width: 100%;
height: 100%;
grid-area: namn;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-template-areas: 
"namn1 namn2 namn3"
"namn4 namn5 namn6"
"namn7 namn8 namn9"
"namn10 namn11 namn12";
}


#aboutus {
    grid-area: au;
    height: 90%;
    background-color: #FFF;
    padding: 5%;
}

#welcometitle {
    grid-area: wt;
    background-color: #FFF;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}


#contactform {
    width: 80%;
    height: 400px;
    max-width: 500px;
}

#mystuff {
    grid-area: ms;
    background-color: #FFF;
    font-weight: 400;
    padding: 2%;
}

#mygyms {
    background-color: #FFF;
    grid-area: mg;
}

#loginform{
    grid-area: lif;
    background-color: #FFF;
    height: 80%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
}

#loginarticle{
    padding: 5%;
    grid-area: lia;
    background-color: #FFF;
    height: 80%;
    margin: 5%;
    margin-top: 0px;
    
}

#loginconfirm {
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #CC0A00;
    margin: 0 auto;
    color: #FFF;
    transition: 100ms;
}

#loginconfirm:hover {
    background-color: #888888;
}

.articletext {
    font-weight: 400;
    font-size: 12px;
}

#jensa{
    height:200px;
    right: 0%;
    bottom: 0%;
    float: right;
    overflow: auto;

}

form {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

#maps {
    height: calc(70% - 1rem);
    width: calc(100% - 2rem);
    display: grid;
	padding-left: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	grid-gap: 2rem;
    grid-template-areas:
    "map1 map2"
    "map3 map4";
}

#maps div {
	width: 100%;
	max-height: 100%;
}

#map1{
    grid-area: map1;
}

#map2{
	grid-area: map2;
}

#map3{
    grid-area: map3;
}

#map4{
	grid-area: map4;
}

.namn {
    max-width: 20%;

}


#namn1{
    max-width: 100%;
    height: 150px;
    grid-area: namn1;
}

#namn2{
    width: 100%;
    height: 150px;
    grid-area: namn2;
}

#namn3{
    width: 100%;
    height: 150px;
    grid-area: namn3;
}

#namn4{
    width: 100%;
    height: 150px;
    grid-area: namn4;
}

#namn5{
    width: 100%;
    height: 150px;
    grid-area: namn5;
}

#namn6{
    width: 100%;
    height: 150px;
    grid-area: namn6;
}

#namn7{
    width: 100%;
    height: 150px;
    grid-area: namn7;
}

#namn8{
    width: 100%;
    height: 150px;
    grid-area: namn8;
}

#namn9{
    width: 100%;
    height: 150px;
    grid-area: namn9;
}

#namn10{
    width: 100%;
    height: 150px;
    grid-area: namn10;
}

#namn11{
    width: 100%;
    height: 150px;
    grid-area: namn11;
}

#namn12{
    width: 100%;
    height: 150px;
    grid-area: namn12;
}

#namn13{
    width: 100%;
    height: 150px;
    grid-area: namn13;
}

#namn14{
    width: 100%;
    height: 150px;
    grid-area: namn14;
}

#namn15{
    width: 100%;
    height: 150px;
    grid-area: namn15;
}

#namn16{
    width: 100%;
    height: 150px;
    grid-area: namn16;
}

#namn17{
    width: 100%;
    height: 150px;
    grid-area: namn17;
}

#namn18{
    width: 100%;
    height: 150px;
    grid-area: namn18;
}

#namn19{
    width: 100%;
    height: 150px;
    grid-area: namn19;
}

#namn20{
    width: 100%;
    height: 150px;
    grid-area: namn20;
}

.checkbox {
    -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	padding: 9px;
	display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 30px;
}

.checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: 99a1a7;

}

.checkbox:checked:after {
    content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

#redbutton {
    border-radius: 50%;
    background-color: #CC0A00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

.menubutton {
    background-color: #FFF;
    border-bottom: 3px;
    border: 0px;
    border-style: solid;
    border-color: #888888;
    width: 100% -2px;
    height: 100px;
    z-index: 7;
}

.menubutton:hover {
    background-color: #888888;
}

a {
    color: black;
}

#redbuttonicon {
    height: 100%;
    width: 100%;
}

@media all and (max-width: 800px) {

    main {
        background-color: #EEE;
        width:100%;
    
    }

    #sida1main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        height: 2400px;
        padding: 0px;
        grid-template-areas: 
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"
        "namn"

    }

    #loginmain{
        height: 1700px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr 1fr;
        grid-template-areas: 
        "lif"
        "lia"
        "lia"
            ;
    }

    #welcomemain {
        width: 100%;
        height: 1400px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
        "wt wt"
        "mg mg"
        "mg mg"
        "mg mg"
        "ms ms"
        "ms ms"
        "ms ms"
        ; 
    }

    #namncontainer {
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas: 
        "namn1"
        "namn2"
        "namn3"
        "namn4"
        "namn5"
        "namn6"
        "namn7"
        "namn8"
        "namn9"
        "namn10"
        "namn11"
        "namn12"
        ;
    }

    p {
        text-align: center;
    }

    .kartbild {
    display: block;
    max-width: 80%;
    max-height: 100%;
    }
    aside {
        display: none;
    }


    #searchbar {
        display: none;
        width: 70%;
        position: absolute;
        left: 0%;
        bottom: 10%;

    }
    header {
        text-align:center;
        justify-content: center;

    }
    #rubrik {
        font-size: 24px;
    }

    #menu {
        position: absolute;
        left: 3%;
    }

    #menudrop {
    width: 100%;

    }

    #close {
        position: absolute;
        right: 3%;
        display: inline;
        max-height: 60px;
    }

    #searchicon{
        display: inline;
        position: absolute;
        right: 3%;
    }

    #redbutton {
        display: block;
        height: 10vw;
        width: 10vw;
        min-width: 50px;
        min-height: 50px;
        position: fixed;
        bottom: 10%;
        left: 47%;  
        z-index: 100;
    }

    #menu:hover {
        transform: none;
    }

    #as {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        height: 60vh;
    }

}